html {
  background-color: #E7E7E7;
}
body {
  max-width: 760px;
  height: 100vh;
  margin: auto;
  background-color: #FFF;
}

h1 {
  text-align: center;
}

#root {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;

  align-items: center;
  height: 100%;
  overflow-y: scroll;
}

.navLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40px;
}

.navLinks a {
  color: white;
  text-decoration: none;
  padding: 5px 20px;
  height: 100%;
}

.navLinks a:hover {
  color: #D3D0D3;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.btn {
  margin-top: 20px;
  margin-bottom: 40px;
}

.result {
  font-size: 50px;
  padding: 30px;
}

.input {
  margin-top: 30px;
}

.MuiFormLabel-root {
  color: black !important;
}
